doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        link(rel="icon", type="image/png", href="assets/img/logo/bc.png")
            
        title="BlueColor"

        link(href='lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        script(type='text/javascript', src='lib/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='lib/bootstrap/dist/js/bootstrap.min.js')

        script(type='text/javascript', src='lib/scroll/jquery.easing.min.js')
        script(type='text/javascript', src='lib/scroll/scrolling-nav.js')
            

        link(href='lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')

        link(href='assets/dist/css/app.css', rel='stylesheet')

    body
        nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
            div.container
                div.navbar-header
                    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar

                    a.navbar-brand(href="#")
                        img(src="assets/img/logo/bluecolor1.png" alt="" width=200 height=30)

                div.navbar-collapse.collapse

                    ul.nav.navbar-nav.navbar-right.nav-pills
                        li
                            a.btn.btn-social-icon.btn-github
                                i.fa.fa-github.fa-lg
                        li
                            a.btn.btn-social-icon.btn-bitbucket
                                i.fa.fa-bitbucket.fa-lg
                        li
                            a.btn.btn-social-icon.btn-youtube
                                i.fa.fa-youtube.fa-lg

                    ul.nav.navbar-nav.navbar-right.navbar-text(style="padding-right:150px;")
                        li
                            a.page-scroll(href="#products") Products
                        li
                            a.page-scroll(href="#services") Services
                        li
                            a.page-scroll(href="#projects") Projects
                        li
                            a.page-scroll(href="#references") References
        div.SiteWrapper
            div.content
                div.jumbotron.clearfix
                    div.container
                        h2 We Finely Craft State of the Art Software
                        img.illustration(src="assets/img/swart.png")
                div.container
                    div.row
                        div.col-md-4
                            h2.soft-heading Who We Are
                            p We are group of technology evangelists who has love and passion to build better software. We are only concentrated on the quality of our work, for this we approach each and every project or problem on the state of art perspective while enjoying the overall process. Our approach and work is independent of any specific technology. We craft different solutions, that is best for the target problem and the environment, at the minimum cost and maximum productivity and durability. Our first priority is the customer happiness and the quality of final solution or the product.
                        div.col-md-4
                            h2.soft-heading What We Do
                            p
                            | We Innovate and Integrate. Our members are professional computer scientists
                            | who has many years of enterprise experience. We have two basic objectives.
                            | First one is to "Innovate". We innovate ideas and methodologies that will
                            | best fit to our customers' needs. After a certain level of maturity of these
                            | ideas, projects we productize them with the latest technological paradigms.
                            | The second mission is to "Integrate". We are strong the supporters of the
                            | open source community. We believe the wisdom of the crowd. There are many
                            | community driven mature applications, projects that is in use in the enterprise
                            | world today. We adopt these ideas, harden the codes, ensure the stability and
                            | reliability and integrate them to our customers with a continuous support.
                        div.col-md-4
                            h2.soft-heading How We Roll
                            p 
                            | We listen to you. We listen your needs, analyse the problem and come up with a
                            | solution that will best fit to your requirements. Alhough we may have required skills,
                            | we ARE NOT interested in any solution with or support of a high price, usually useless
                            | product or tool of so called "Software" infact "Financial Companies" enforces you to use. 
                    hr
                    h1.soft-heading(id="products") Products
                    div.row(style="padding-top:30px")
                        div.col-md-4
                            div.row
                                div.col-md-4
                                    img.img-responsive.img-center(src="assets/img/tornado.png")
                                div.col-md-8
                                    h2.soft-heading(style="margin-top:0") Storm
                                    p 
                                    | Storm is forged with the cutting edge technologies that best fits to the task automation process.
                                    | It brings you the power and simplicity of the current state of art.
                        div.col-md-4
                            div.row
                                div.col-md-4
                                    img.img-responsive.img-center(src="assets/img/cloudsql.png")
                                div.col-md-8
                                    h2.soft-heading(style="margin-top:0") CloudSQL
                                    p 
                                    | CloudSQL is a web based SQL client that performs live data masking of sensitive data. 
                                    | It also allows the users to share scripts with each other.

                    hr                    
                    h1.soft-heading(id="services") Services
                    div.row
                        div.col-md-4
                            h2.soft-heading Consultancy
                            p 
                            | We help customers with our solutions and services in areas like; Data Mining, Big Data, BIW,
                            | Database Security, Automation and MDM.
                        div.col-md-4
                            h2.soft-heading Assessment
                            p 
                            | We carry aout assesments for your existing DWH and Big Data platforms. Generate detailed reports
                            | about the subject system and prepare roadmaps to improve existing structure and implementation. 
                        div.col-md-4
                            h2.soft-heading Custom Solutions & Products
                            p 
                            | Our team has a broad knowledge of software development. We can help you to build your custom
                            | solution for your needs.
                    hr
                    h1.soft-heading(id="projects") Projects
                    div.row
                        div.col-md-4
                            h2.soft-heading NodeJDBC
                            p 
                            | NodeJDB is JDBC wrapper for NodeJS. It is publicly available and maintained by us and the community.
                        div.col-md-4
                            h2.soft-heading Cargo
                            p Cargo is a open source data extraction utility that runs blazingly fast.
                        div.col-md-4
                            h2.soft-heading Storm Client
                            p 
                            | Storm Client is the colelction of open source client libraies for our task automation product "Storm".
                            | There are javascript, ruby, python and java client libraries for Storm.
                    hr
                    h1.soft-heading(id="references") References
                    div.row
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/turkcell.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/turk-telekom.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/vodafone.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/boyner.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/oracle.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/migros.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/koc-allianz.png")
                        div.col-md-2
                            img.img-responsive.img-center(style="height:111px;" src="assets/img/references/teb.png")