@import "color.scss";

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}


.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.navbar-default {
    background-color: white;
    border-color: #FFF8DC;
}

/*.navbar-default {*/
    /*background-color: #ffffe7;*/
    /*border-color: #FFF8DC;*/
/*}*/


@media only screen and (min-width: 60em){
    .jumbotron h2 {
        float: left;
        width: 40%;
        margin: 0 0 0 5%;
        text-align: left;
        font-size: 3em;
    }
}

@media only screen and (min-width: 55em){
    .jumbotron h2 {
        font-size: 2.6em;
    }
}

@media only screen and (min-width: 46em){
    .jumbotron h2 {
        font-size: 2em;
        line-height: 1.2em;
    }
}

@media only screen and (min-width: 35em){
    .jumbotron h2 {
        font-size: 1.6em;
    }
}


@media(min-width:768px) {
    body {
        /*padding-top: 100px; /!* Required padding for .navbar-fixed-top. Change if height of navigation changes. *!/*/
    }

    .navbar-fixed-top .navbar-brand {
        padding: 10px 0;
    }

    .navbar {
        min-height:40px !important;
    }
    .navbar-nav li a {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.navbar-text {
    font-size: 17px !important;
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 60em){
    .illustration {
        float: right;
        width: 53%;
        margin-right: 2%;
        top: 6.3em;
    }
}

@media only screen and (min-width: 50em){
    .illustration {
        top: 2em;
    }
}

@media only screen and (min-width: 35em){
    .illustration {
        top: 1.5em;
    }
}

.illustration {
    position: relative;
    top: 6.3em;
    max-width: 100%;
}

audio, canvas, img, video {
    vertical-align: middle;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}


@media only screen and (min-width: 60em){
    .jumbotron {
        position: relative;
        padding-top: 8em;
    }
}

@media only screen and (min-width: 55em){
    .jumbotron {
        padding-top: 6em;
    }
}

@media only screen and (min-width: 50em){
    .jumbotron {
        margin-bottom: 4em;
    }
}

@media only screen and (min-width: 28em){
    .jumbotron {
        padding-top: 5em;
    }
}

.clearfix {
}

.jumbotron {
    margin: 0 0 3em;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    background: #5aadbb;
}

@media only screen and (min-width: 28em){
    .jumbotron h2 {
        font-size: 1.4em;
        margin-bottom: .5em;
    }
}

.jumbotron h2 {
    margin: 0 1em;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top:100px;
}

h2, h3, h4, h5, h6 {
    margin-top: 2em;
}

h2 {
    font-size: 1.5em;
    margin: .83em 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

@media only screen and (min-width: 60em){
    .jumbotron h2 {
        float: left;
        width: 40%;
        margin: 0 0 0 5%;
        text-align: left;
        font-size: 3em;
    }
}



@media only screen and (min-width: 60em){
    .container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
}

div {
    display: block;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}

.SiteWrapper {
    overflow: hidden;
}

.soft-heading{
    color: #543729;
}


